:root {
  --accent: #ffda22;
  --background: #fff8eb;
  --highlight: #fef4c3;
}

html,
* {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Times New Roman", Times, serif;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: var(--background);
}

#app {
  display: flex;
  overflow: hidden;

  flex-direction: column;
}

p,
input {
  font-size: 20px;
  margin: 0;
}

a {
  color: #2660a4;
}

h1 {
  font-size: 28px;
  margin: 16px 0;
}

#topnav {
  width: 100%;
  padding: 8px 32px;
  box-sizing: border-box;
  background-color: var(--accent);
}

#topnav div {
  display: flex;
  padding-bottom: 8px;
  flex-direction: row;
  gap: 16px;
}

#topnav div a {
  text-decoration: none;
  color: black;
}

#topnav div a:hover {
  text-decoration: underline;
}

#content {
  display: flex;
  padding: 64px;
  justify-content: center;
  align-items: center;
}

#content #main {
  gap: 16px;
  display: flex;
  flex-direction: column;
  width: 25%;
}

@media only screen and (max-width: 600px) {
  #content #main {
    width: 100%;
  }
  #app #footer {
    flex-direction: column;
    gap: 4px;
  }
}

#content #main #record {
  text-align: center;
}

#content #main #question {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
}

#content #main #question #word {
  font-size: 24px;
}

#content #main #question #part {
  font-size: 16px;
  color: gray;
}

#content #main #question #stage {
  font-size: 16px;
  margin-left: auto;
  color: gray;
}

#content #main #input {
  padding: 4px 8px;
}

#footer {
  width: 100%;
  padding: 8px 32px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  background-color: var(--accent);
  display: flex;
  flex-direction: row;
  gap: 32px;
}

#footer p {
  font-size: 16px;
}
